---
const { heading } = Astro.props;
---

<li class="nav-item">
    <a class="nav-link" href={'#' + heading.slug}>
        {heading.text}
    </a>
    {
        (heading.subheadings && heading.subheadings.length > 0) && (
            <ul>
                {heading.subheadings.map((subheading) => (
                    <Astro.self heading={subheading} />
                ))}
            </ul>
        )
    }
</li>